registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
electron_mirror=https://npmmirror.com/mirrors/electron/
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
python_mirror=https://npmmirror.com/mirrors/python/
puppeteer_download_host=https://npmmirror.com/mirrors/
cypress_download_mirror=https://npmmirror.com/mirrors/cypress/
playwright_browsers_path=0